<div class="main-content">
    <div class="container-fuild">
        <div class="d-flex justify-content-end pb-3">
            <button mat-raised-button color="primary" (click)="openItem()">Add Item</button>
        </div>
        <div class="row">
            <div class="col-12">
                <table mat-table #table [dataSource]="dataSource" class="w-100">
                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let row"> {{row.Title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.Type | itemType}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row class="item-table-row" (click)="openItem(row)" *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>