<app-dialog-container>
    <app-dialog-header>
        <div class="col-9">
            <h1 mat-dialog-title>{{isEdit ? (isAdd ? 'Add' : 'Edit') : 'View'}} Item</h1>
        </div>
        <div class="col-3">
            <div class="row">
                <ng-container *ngIf="isEdit; else elseTemplate">
                    <div class="offset-5 col-3">
                        <button color="primary" mat-icon-button (click)="save()" cdkFocusInitial>
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="offset-2 col-3" *ngIf="!isAdd">
                        <button color="warn" mat-icon-button (click)="delete()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div class="col-3" [class.offset-5]="isAdd">
                        <button color="primary" mat-icon-button (click)="isEdit = true">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </ng-template>
                
                <div class="col-3">
                    <button mat-icon-button [mat-dialog-close] cdkFocusInitial>
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </app-dialog-header>
    <ng-container *ngIf="isEdit; else elseBodyTemplate">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="Title" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Action</mat-label>
                        <textarea matInput formControlName="Action" [rows]=3></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="Type">
                            <mat-option *ngFor="let item of itemTypes" [value]="item.Id">
                                {{item.Value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-template #elseBodyTemplate>
        <mat-card class="mb-2">Title: <strong>{{data.item.Title}}</strong></mat-card>
        <mat-card class="mb-2">Action: <strong>{{data.item.Action}}</strong></mat-card>
        <mat-card class="mb-2">Type: <strong>{{data.item.Type | itemType}}</strong></mat-card>
    </ng-template>
</app-dialog-container>